body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

h1 {
    background: blue;
    color: white;
    padding: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.board {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px;
}

.column {
    background: #ddd;
    width: 30%;
    min-height: 400px;
    padding: 10px;
}

.task {
    background: white;
    padding: 15px;
    margin: 10px;
    cursor: move;
}

.edit {
    background: green;
    margin: 8px;
}

.delete {
    background: red;
}

#todo,
#progress,
#completed {
    min-height: 350px;
}